.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
testingschemas/**
icon/**
*.pdf
node_modules/**
.github/**
test/**
out/test/**
examples/**
*.vsix
CONTRIBUTING.md
.cursor/**
out/*.js
out/*.js.map
